---
metaTitle: Tony Alicea | Udemy and Pluralsight Instructor | JavaScript, HTML, CSS, NodeJS, UX
---

{% extends 'page.njk' %}

{% block head %}
<style>
  
</style>
{% endblock %}

{% block body %}
<hgroup>
  <h1 class="tony-card__title">Understanding React</h1>
  <p>Don't Imitate, Understand</p>
</hgroup>
  
{% endblock %}