---
metaTitle: Tony Alicea | Udemy and Pluralsight Instructor | JavaScript, HTML, CSS, NodeJS, UX
---

{% extends 'page.njk' %}

{% block head %}
<style>
  
</style>
{% endblock %}

{% block body %}
<hgroup>
  <h1 class="tony-card__title">Understanding React</h1>
  <p>Master React by learning how it works</p>
  <p class="credit"><img src="assets/tonyalicea.png" style="height: 30px;" /> &nbsp;&nbsp;by Tony Alicea</p>
</hgroup>
<hr />
<section class="container">
  <p>React is a skill that can get you a job. But most courses out there aren't teaching it to you properly.</p>
  <p>Following along and mimicing someone typing code won't help you when faced with new problems and challenges in real world jobs.</p>
  <p>This course is different.</p>
</section>

<section class="container">
  <h2>What This Course Isn't</h2>
  <p>
    This course is not a "follow along with me while we build projects" course. Yes, we build a fun project in the course (we recreate the popular online word game "Spelling Bee"!).
  </p>
  <p>
    Building projects is an important part of learning. However those "build projects with me" courses are a trap.
</section>

<section class="container">
  <h2>Learn React Internals</h2>
  <div><video loop autoplay muted playsinline aria-labelledby="video-label" src="/assets/ReactCompiler_Hooks.mp4"></video></div>
</section>

<section class="container">
  <h2>Watch The First 6 Hours For Free</h2>
  <p>
    Still not sure if the course is for you? I put the first 6 hours of the course for free on my YouTube channel. So if you aren't sure, start watching!
  </p>
  <div class="video">
    <iframe width="560" height="315" style="max-width: 100%;" src="https://www.youtube.com/embed/-XKvVyC6si0?si=DSxDq9rSGyWijdO_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</section>

<section class="container">
  <h2>About Me</h2>
  <p>I'm Tony Alicea. I've been an application developer, database architect, UX designer, and tech educator for over 25 years.</p>
    
  <p>Over 350,000 students have enrolled in my courses on Udemy, Pluralsight, and Teachable (where this course is hosted). I've been a speaker at conferences like React Summit. You can see more about all my courses <a href="https://tonyalicea.dev/courses">on my site</a>.</p>
</section>

<section class="container enroll-container">
  <hgroup>
    <a name="enroll"></a>
    <img class="altlogo" src="/assets/reactaltlogo.png" alt="React Logo" />
    <h2>Join and Gain Deep Understanding</h2>
    <p>An accurate mental model will forever benefit your dev career.
  </hgroup>
  <article class="enroll-form">
    <h3 class="enroll-header">Full React Course</h3>
    <p class="price">$149<p>
    <label>For Individuals&nbsp;&nbsp;<input name="teams" type="checkbox" role="switch" />For Teams</label>
    <a id="buy-link" href="https://dontimitateunderstand.com/purchase?product_id=4876170"><button>Buy Now</button></a>
    <p>INCLUDES</p>
    <ul class="enroll-list">
      <li>&check; Lifetime access</li>
      <li>&check; 16.5 hours of deep dive video</li>
      <li>&check; 158 lectures</li>
      <li>&check; All source code</li>
      <li>&check; Certificate of completion</li>
      <li>&check; Questions answered by me personally</li>
      <li>&check; Free future updates</li>
    </ul>    
  </article>
</section>

<script>
  // Define the target URL
  const targetURL = 'https://dontimitateunderstand.com/purchase';
  const productID = '4876170';

  // Get the current URL's query string parameters
  const queryString = window.location.search;

  // Redirect to the target URL with the query string parameters
  document.getElementById("buy-link").href = targetURL + queryString + '&product_id=' + productID;
</script> 
{% endblock %}