:root {
    --pico-block-spacing-vertical: 2rem;
    --pico-color-blue-950: #080f2d;
    --pico-color-blue-900: #0c1a41;
    --pico-color-blue-850: #0e2358;
    --pico-color-blue-800: #0f2d70;
    --pico-color-blue-750: #0f3888;
    --pico-color-blue-700: #1343a0;
    --pico-color-blue-650: #184eb8;
    --pico-color-blue-600: #1d59d0;
    --pico-color-blue-550: #2060df;
    --pico-color-blue-500: #3c71f7;
    --pico-color-blue-450: #5c7ef8;
    --pico-color-blue-400: #748bf8;
    --pico-color-blue-350: #8999f9;
    --pico-color-blue-300: #9ca7fa;
    --pico-color-blue-250: #aeb5fb;
    --pico-color-blue-200: #bfc3fa;
    --pico-color-blue-150: #d0d2fa;
    --pico-color-blue-100: #e0e1fa;
    --pico-color-blue-50: #f0f0fb;
    --pico-color-blue: #2060df;
    --pico-color-yellow-950: #141103;
    --pico-color-yellow-900: #1f1c02;
    --pico-color-yellow-850: #2b2600;
    --pico-color-yellow-800: #363100;
    --pico-color-yellow-750: #423c00;
    --pico-color-yellow-700: #4e4700;
    --pico-color-yellow-650: #5b5300;
    --pico-color-yellow-600: #685f00;
    --pico-color-yellow-550: #756b00;
    --pico-color-yellow-500: #827800;
    --pico-color-yellow-450: #908501;
    --pico-color-yellow-400: #9e9200;
    --pico-color-yellow-350: #ad9f00;
    --pico-color-yellow-300: #bbac00;
    --pico-color-yellow-250: #caba01;
    --pico-color-yellow-200: #d9c800;
    --pico-color-yellow-150: #e8d600;
    --pico-color-yellow-100: #f2df0d;
    --pico-color-yellow-50: #fdf1b4;
    --pico-color-yellow: #f2df0d;
    --pico-color-grey-950: #111111;
    --pico-color-grey-900: #1b1b1b;
    --pico-color-grey-850: #262626;
    --pico-color-grey-800: #303030;
    --pico-color-grey-750: #3b3b3b;
    --pico-color-grey-700: #474747;
    --pico-color-grey-650: #525252;
    --pico-color-grey-600: #5e5e5e;
    --pico-color-grey-550: #6a6a6a;
    --pico-color-grey-500: #777777;
    --pico-color-grey-450: #808080;
    --pico-color-grey-400: #919191;
    --pico-color-grey-350: #9e9e9e;
    --pico-color-grey-300: #ababab;
    --pico-color-grey-250: #b9b9b9;
    --pico-color-grey-200: #c6c6c6;
    --pico-color-grey-150: #d4d4d4;
    --pico-color-grey-100: #e2e2e2;
    --pico-color-grey-50: #f1f1f1;
    --pico-color-grey: #ababab;
    --pico-background-color: #080F2D;
    --pico-font-family-sans-serif: 'Noto Sans', sans-serif;
    --pico-color: #e3e6e8;
    --pico-h2-color: #ffffff;
}

p {
    margin: 0;
}

p + p {
    margin-block-start: var(--pico-typography-spacing-vertical);
}

/* Layout */
.enroll, .announcement .enroll {
    background-color: var(--pico-color-yellow-100);
    color: #000;
    font-weight: 900;
    border-color: #000;
}

.enroll {
    margin-top: 1rem;
}

.announcement .enroll {
    font-size: 0.75rem;
    padding: 0.5rem;
    border: none;
    background-color: none;
}

.enroll:hover {
    background-color: var(--pico-color-yellow);
}

h1, h2, h3 {
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

@media (min-width: 1024px) {
    .container {
        max-width: 700px;
    }
}

.no-block-end-margin {
    margin-block-end: 0;
}

.hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero {
    max-width: 100%;
}

@media (min-width: 1024px) {
    .hero {
        max-width: 1400px;
    }
}

.container h3 {
    font-size: 1.25rem;
    color: var(--pico-color-yellow-150);
}

hgroup p {
    margin-top: .5rem;
}

hgroup p:not(.credit) {
    font-weight: 700;
    text-wrap: balance;
}

h1 {
    font-weight: 900;
    font-size: 2.75rem;
}

h2 {
    --pico-font-size: 1.5rem;
    --pico-line-height: 1.175;
    --pico-typography-spacing-top: 2.25rem;
    margin-bottom: 0.25rem;
}

.credit {
    font-size: .875rem;
    font-style: italic;
    margin-block-start: 0.5rem;
}

.quoteshot {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: -2000;
    border: solid 1px #000;
    opacity: 0.9;
}

.headshot {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: -2000;
    border: solid 1px #000;
    opacity: 0.9;
}

.slideimage {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.whatiget {
    background-color: var(--pico-color-blue-800);
    padding: 0;
    width: 100%;
}

.whatiget-container {
    padding: 0;
}

.whatigetlist {
    display: flex;
    width: 100%;
    flex-grow: 1;
    justify-content: stretch;
    align-items: stretch;
    gap: 8px;
    min-height: 150px;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
}

.whatigetlist__item {
    background-color: var(--pico-color-blue-950);
    padding: 5%;
    flex: 1;
}

.whatigetlist__item p {
    font-weight: 900;
}

.whatigetlist__num {
    font-size: 200%;
    color: var(--pico-color-grey-150);
    display: block;
}

.curriculum__modulenum {
    font-size: .6rem;
    color: var(--pico-color-grey-250);
    display: block;
    margin: 0;
    margin-block-end: .25rem;
    padding: 0;
}

.curriculum__list {
    background-color: var(--pico-color-blue-900);
    padding: 1rem;
    width: 100%;
}

.curriculum details {
    background-color: var(--pico-color-blue-800);
    padding: .75rem;
    margin-block-end: 1rem;
    font-weight: 700;
    font-size: 80%;
}

.curriculum ul {
    padding-left: 1rem;
    padding-block-start: 1rem;
}

.curriculum details li {
    margin-block-end: 1rem;
    list-style: none;
}

.curriculum .curriculum__lecturenum {
    font-size: .675rem;
    color: var(--pico-color-grey-250);
    display: block;
    margin: 0;
    margin-block-end: .1rem;
    padding: 0;
    border-bottom: solid 1px var(--pico-color-yellow-100);
}

.speakingshot {
    border-radius: 30%;
    margin-block-end: 1rem;
}

.headshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.countdown {
    background-color: var(--pico-color-blue-600);
}

.countdown__main {
    background-color: var(--pico-color-blue-900);
    padding: 1rem;
}

/* Video */
.video, video {
    text-align: center;
    padding: 1rem 0;
    max-width: 100%;
}

/* About Me */
.aboutme {
    font-size: 1.2rem;
}

.aboutme-container {
    text-align: center;
}

.aboutme-container h2 {
    margin-bottom: 1rem;
}

.imagegrid {
    padding: 1rem 0;
}

.imagegrid {
    display: grid;
    grid-template-columns: .5fr 1.25fr;
    align-items: center;
    gap: 10px;
    text-align: left;
    align-items: stretch;
}

.imagegrid--large {
    grid-template-columns: 0.5fr 1.25fr;
}

@media (max-width: 768px) {
    .aboutme {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .imagegrid {
        grid-template-columns: 1fr;
    }
    
    .headshot, .imagegrid img {
        margin: 0 auto;
    }
}

/* Enroll */
.enroll-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.enroll-container > * {
    flex-basis: 100%;
}

.altlogo {
    max-width: 80px;
    margin: 1rem 0;
}

.enroll-form {
    background-color: var(--pico-color-blue-900);
    border: solid 2px var(--pico-color-yellow-100);
    max-width: 500px;
    color: #fff !important;
}

.enroll-form label {
    text-align: center;
    width: 100%;
}

.enroll-form h3 {
    font-weight: 800;
}

.enroll-form h3, .enroll-form ul {
    color: #fff !important;
}

.enroll-header {
    margin: 0;
}

.salemsg {
    margin: 0;
    padding: 0;
}

.price {
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
}

.price small {
    font-size: 1.5rem;
}

.price s {
    font-size: 2rem;
    color: var(--pico-color-grey-600);
}

.salemsg + .price {
    margin-block-start: 0 !important;
}

.lifetime {
    padding: 0;
    margin: 0;
}

.enroll-form button {
    width: 100%;
    background-color: var(--pico-color-yellow-100);
    color: #000;
    font-weight: bold;
    border: none;
    margin: 1.25rem 0 1rem 0;
}

.enroll-list {
    margin: 0;
    padding: 0;
}

.enroll-list li {
    list-style: none;
    padding: 0 1rem;
    margin: 0;
}

/* Quotes */
.quotes-header {
    text-align: center;
    margin-bottom: .5rem;
}

.quotes-header p {
    color: var(--pico-color-yellow);
    font-size: 1.25rem !important;
    margin: 0;
}

.quotegrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: .75rem;
    justify-content: center;
    padding-block-end: 0;
    margin-block-end: 1rem;
}

.quotegrid > article {
    flex-basis: 40%;
    border: solid 2px var(--pico-color-yellow-500);
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quote-initial > article {
    flex-basis: 100%;
    background: none;
    border: solid 1px #333;
    font-size: .9rem;
}

@media (max-width: 600px) {
    .quotegrid > article {
        flex-basis: 100%;
        margin: 0;
    }
}

.quotegrid p {
    font-weight: 700;
}

.quote-initial p { 
    font-weight: 400;
}

.quote-signature {
    margin: 1rem 0 0 0;
    text-align: center;
}

.signed {
    background-color: var(--pico-color-yellow-200);
    color: #000;
    font-weight: 900;
    display: inline-block;
    padding: 0.25rem;
    border-radius: 3px;
    align-self: flex-start;
}

/* Footer */
footer {
    padding: 1rem;
    font-size: 0.75rem;
    background-color: var(--pico-progress-background-color);
}

footer h2 {
    font-size: 0.875rem;
    font-weight: normal;
    color: var(--pico-color-grey-500);
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
}

footer a, footer a:visited, footer a:hover {
    text-decoration: none;
    color: var(--pico-color-grey-200);
    font-weight: bold;
}

.announcement {
    text-align: center;
    margin-block-end: 1rem;
}

.announcement p {
    color: #000;
    font-weight: bold;
    /* background-color: var(--pico-color-yellow-200); *
    max-width: 80%;
    margin: 0 auto;
    padding: .25rem;
    border-radius: var(--pico-border-radius);
    font-size: 0.75rem;
}

.announcement + .announcement {
    margin-block-end: 1rem;
}